/* Add media queries to make the code responsive */
:root {
  --primaryColor: #40196d;
  --lightBlueColor: #1dcbef;
  --blackColor: #000;
  --successColor: #48d38a;
  --negativeColor: #f7685b;
  --textColor: #979797;
  --whiteColor: #fff;
  --whiteAlt: #fff;
  --darkAlt: #000;
  --offWhite: #f9f9f9;
  --offWhiteTrans: hsla(228, 7%, 87%, 0.3);
  --borderOff: hsla(228, 7%, 87%, 0.5);
  --offText: rgba(0, 0, 0, 0.5);
  --bgOffset: #f4f4f4;
  --placeHolder: #979797;
  --offBlue: #eff1ff;
  --boxShadow: rgba(64, 25, 109, 0.07);
  --offBlueTran: rgba(223, 227, 255, 0.3);
  --primaryAlt: #40196d;
  --offGreen: rgba(72, 211, 138, 0.5);
  --ctaOffBlue: rgba(64, 25, 109, 0.3);
  --overlay: rgba(64, 25, 109, 0.2);
  --successColorTrans: #dcffec;
}
/* Desktop layout (default) */
header {
  background: var(--whiteAlt);
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.05);
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100vw;
  height: 65px; /* adjust header height */
}

.kuda-brand {
  min-width: 100px;
}
.kuda-brand svg {
  height: 18px;
  width: auto;
}
.kuda-brand a {
  color: inherit;
  text-decoration: none;
}
.kuda-menu--wrap {
  border: 0;
  /* font-size: 100%; */
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.kuda-header--extras {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.kuda-nav {
  font-size: 0.875rem;
  max-width: 100%;
  width: 100%;
  font-weight: 400 !important;
  color: var(--primaryColor);
  text-decoration: none;
}

.kuda-web {
  height: 46px;
  margin-left: 40px;
  max-width: 136px;
  min-width: 136px;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  padding: 15px;
  transition: transform 0.6s;
  background: var(--primaryColor);
  border-radius: 10px;
  color: var(--whiteColor);
  text-decoration: none;
}
.kuda-web:hover {
  transform: translate3d(0, -3px, 0);
}
ul {
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.dropDown {
  margin-left: 7px;
  cursor: pointer;
}
.has-left--margin {
  height: 42px;
  margin-left: 28px;
  margin-right: 0 !important;
}
.mobile-toggle {
  display: none;
  height: 20px;
  width: 23px;
}
.kuda-hamburger {
  display: inline-block;
  height: auto;
  position: relative;
  top: 3px;
  width: 23px;
}
.kuda-hamburger .kuda-hamburger--inner {
  transition-duration: 75ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.kuda-hamburger .kuda-hamburger--inner:before {
  top: -9px;
  transition: top 75ms ease 0.12s, opacity 75ms ease;
}
.kuda-hamburger .kuda-hamburger--inner:after,
.kuda-hamburger .kuda-hamburger--inner:before {
  background-color: var(--primaryAlt);
  border-radius: 4px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: ease;
  width: 20px;
}
.kuda-hamburger .kuda-hamburger--inner:after,
.kuda-hamburger .kuda-hamburger--inner:before {
  background-color: var(--primaryAlt);
  border-radius: 4px;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: ease;
  width: 20px;
}
/* Tablet layout (max-width: 768px) */
@media only screen and (max-width: 768px) {
  .kuda-header {
    height: 64px;
  }
  .kuda-header--wrap,
  .kuda-preview,
  footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .kuda-brand svg {
    display: flex;
    height: 16px;
  }
  .kuda-menu--wrap,
  .kuda-menu--wrap-careers {
    display: none !important;
  }
  .kuda-header--extras {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  .has-left--margin {
    margin-left: auto;
    margin-right: 17px !important;
  }
  .mobile-toggle {
    align-items: center;
    display: flex;
    margin-top: -10px;
    margin-left: 10px;
  }
}
/* Mobile layout (max-width: 480px) */
/* @media only screen and (max-width: 480px) {
  header {
    height: 40px; 
  }

  .kuda-brand {
    min-width: 60px;
  }

  .kuda-nav {
    font-size: 0.625rem;
  }

  .kuda-web {
    height: 28px;
    margin-left: 10px;
    max-width: 80px;
    min-width: 80px;
    font-size: 9px;
  }
} */

.navigation-menu {
  position: relative;
  display: inline-block;
}

.navigation-menu-trigger {
  cursor: pointer;
  padding: 12px 16px;
  color: var(--primaryColor);
  font-size: 14px;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.navigation-menu-trigger::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--primaryColor);
  margin-left: 8px;
}

.navigation-menu-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 200;
  min-width: 160px;
}

.navigation-menu-content p {
  font-size: 16px;
}

.navigation-menu-item {
  /* padding: 4px 16px;
  display: block;
  white-space: nowrap;
  color: black;
  text-decoration: none; */
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.navigation-menu-item:hover {
  transform: scale(1.02);
  cursor: pointer;
  color: var(--primaryColor);
}

.navigation-menu:hover .navigation-menu-content {
  display: block;
}
/* ,.navigation-menu:hover .dim-layer.active  */
.dim-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}
/* .navigation-menu:hover ~ .dim-layer {
  display: block;
} */
.dim-layer.active {
  display: block; /* show the overlay when active */
}
.navigation-menu:hover .personal {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.navigation-menu:hover .cont-right {
  background-color: var(--offWhite);
  padding-top: 20px;
  padding-left: 30px;
  width: 50%;
}
.navigation-menu:hover .cont-left {
  padding-top: 20px;
  padding-left: 30px;
  width: 50%;
}
.cont-right .title {
  color: gray;
  font-size: 12px;
}
.cont-right p {
  margin-bottom: 4px;
}
.navigation-menu:hover .business {
  width: 600px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.navigation-menu:hover .cont-left2 {
  background-color: var(--offWhite);
  padding-top: 20px;
  padding-left: 30px;
  width: 50%;
}
.navigation-menu:hover .cont-right2 {
  padding-top: 20px;
  padding-left: 30px;
  width: 50%;
}
.cont-right2 .title {
  color: gray;
  font-size: 12px;
}
.cont-right p {
  margin-bottom: 4px;
}
.menu-link--icon {
  display: flex;
  margin-right: 15px;
}
.navigation-menu:hover .company {
  padding: 15px;
}
.navigation-menu:hover .help {
  padding: 15px;
}
