:root {
  --primaryColor: #40196d;
  --lightBlueColor: #1dcbef;
  --blackColor: #000;
  --successColor: #48d38a;
  --negativeColor: #f7685b;
  --textColor: #979797;
  --whiteColor: #fff;
  --whiteAlt: #fff;
  --darkAlt: #000;
  --offWhite: #f9f9f9;
  --offWhiteTrans: hsla(228, 7%, 87%, 0.3);
  --borderOff: hsla(228, 7%, 87%, 0.5);
  --offText: rgba(0, 0, 0, 0.5);
  --bgOffset: #f4f4f4;
  --placeHolder: #979797;
  --offBlue: #eff1ff;
  --boxShadow: rgba(64, 25, 109, 0.07);
  --offBlueTran: rgba(223, 227, 255, 0.3);
  --primaryAlt: #40196d;
  --offGreen: rgba(72, 211, 138, 0.5);
  --ctaOffBlue: rgba(64, 25, 109, 0.3);
  --overlay: rgba(64, 25, 109, 0.2);
  --successColorTrans: #dcffec;
}
.kuda-section--heading {
  font-size: 2.1rem;
  line-height: 1.38;
}
.title-bottom--spacing {
  margin-bottom: 20px;
}
.text-xlbold {
  font-weight: 900;
}
.color-primary {
  color: var(--primaryColor);
}
.kuda-section--max {
  max-width: 350px;
}

.color-black {
  color: var(--blackColor) !important;
}
.kuda-section p {
  /* font-size: 1rem; */
  line-height: 1.5;
}
.learn-more {
  cursor: pointer;
  display: inline-flex !important;
  font-weight: 700;
  margin-top: 26px;
  text-decoration: underline;
}
.learn-more span {
  display: inline-flex;
}
.arrow-right--icon {
  margin-left: 10px;
}
.kuda-text--right .kuda-section--wrap {
  margin-left: auto;
  margin-right: auto;
}
.kuda-section--wrap {
  max-width: 420px;
}
.kuda-section--max {
  max-width: 350px;
}
.color-black {
  color: var(--blackColor) !important;
}
p {
  font-size: 1rem;
  line-height: 1.5;
}
.kuda-section--max {
  max-width: 350px;
}
.color-black {
  color: var(--blackColor) !important;
}
.kuda-ignore--container {
  left: 50%;
  margin-left: -50vw;
  position: relative;
  width: 100vw;
}
.kuda-section {
  margin-top: 12.5%;
}
.kuda-testimonial--cards {
  animation: nonStop 120s linear 0s infinite normal none running;
  -webkit-animation: nonStop 120s linear 0s infinite normal none running;
  display: flex;
  margin-top: 55px;
  min-width: 2800px;
  transform: translateZ(0);
}
@keyframes nonStop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.kuda-testimonial--cards .card {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-width: 350px;
  border: none;
  border-radius: 5px;
}
.testimonial-extras {
  margin-top: 32px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.testimonial-extras img {
  margin-right: 10px;
}
.kuda-no--image {
  margin-right: 10px;
}
.testimonial-extras p {
  padding-top: 16px;
}
.kuda-publication--wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 6%;
  width: 100%;
}
.publication-image:not(:last-child) {
  margin-right: 30px;
}
.kuda-no--image {
  align-items: center;
  background: #40196d;
  border-radius: 100px;
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  font-weight: 900;
  height: 50px;
  justify-content: center;
  width: 50px;
}
.testimonial-extras img {
  border-radius: 100px;
  height: 50px !important;
  width: 50px;
}
.publication-image img {
  cursor: pointer;
  filter: contrast(100%) grayscale(100%) brightness(120%);
  -webkit-filter: contrast(100%) grayscale(100%) brightness(120%);
  transition: filter 0.2s;
  -webkit-transition: filter 0.2s;
  -moz-transition: filter 0.2s;
  -ms-transition: filter 0.2s;
  -o-transition: filter 0.2s;
  width: auto;
  height: auto;
}
