:root {
  --primaryColor: #40196d;
  --lightBlueColor: #1dcbef;
  --blackColor: #000;
  --successColor: #48d38a;
  --negativeColor: #f7685b;
  --textColor: #979797;
  --whiteColor: #fff;
  --whiteAlt: #fff;
  --darkAlt: #000;
  --offWhite: #f9f9f9;
  --offWhiteTrans: hsla(228, 7%, 87%, 0.3);
  --borderOff: hsla(228, 7%, 87%, 0.5);
  --offText: rgba(0, 0, 0, 0.5);
  --bgOffset: #f4f4f4;
  --placeHolder: #979797;
  --offBlue: #eff1ff;
  --boxShadow: rgba(64, 25, 109, 0.07);
  --offBlueTran: rgba(223, 227, 255, 0.3);
  --primaryAlt: #40196d;
  --offGreen: rgba(72, 211, 138, 0.5);
  --ctaOffBlue: rgba(64, 25, 109, 0.3);
  --overlay: rgba(64, 25, 109, 0.2);
  --successColorTrans: #dcffec;
}
body {
  overflow-x: hidden;
}
.kuda-section--bg {
  background: #fbfbfb;
  margin-top: 7%;
  padding-bottom: 7%;
  padding-top: 8%;
}
.kuda-ignore--container {
  left: 50%;
  margin-left: -50vw;
  position: relative;
  width: 100vw;
}
.kuda-section {
  margin-top: 12.5%;
}
.partners-image img {
  cursor: pointer;
  transition: filter 0.2s;
  -webkit-transition: filter 0.2s;
  -moz-transition: filter 0.2s;
  -ms-transition: filter 0.2s;
  -o-transition: filter 0.2s;
}
.partners-image img,
.publication-image img:hover {
  filter: none;
  -webkit-filter: none;
}
.partners-image {
  align-items: center;
  display: flex;
}
.kuda-standard--section {
  margin-top: 0;
  padding-top: 8%;
}
.plan-full {
  background: #fff;
  border: 1px solid hsla(228, 7%, 87%, 0.5);
  border-radius: 5px;
  box-shadow: 15px 30px 40px rgba(64, 25, 109, 0.07);
  width: 100%;
}
.plan-full .plan-features {
  padding-right: 0;
}
.plan-features {
  margin-bottom: 50px;
}
.plan-heading.flex {
  padding-left: 72px;
  padding-right: 72px;
}
.plan-full .plan-single {
  width: 33.33%;
}
.plan-single--wrap,
.pricing-single--wrap {
  border-top: 1px solid hsla(228, 7%, 87%, 0.5);
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 13px;
}
.plan-single--wrap {
  display: flex;
}
.feature-summary {
  margin-bottom: 13px;
}
.check-icon {
  display: flex;
  margin-right: 10px;
  position: relative;
  top: 4px;
}
.fade-active > *,
.kuda-preview > div:not(:first-child) > *,
.kuda-preview > div:not(:nth-child(2)) > * {
  transition-delay: 0ms !important;
}
.kuda-preview > div > * {
  opacity: 0;
  transform: translate3d(0, 35px, 0);
  -webkit-transform: translate3d(0, 35px, 0);
  -moz-transform: translate3d(0, 35px, 0);
  -ms-transform: translate3d(0, 35px, 0);
  -o-transform: translate3d(0, 35px, 0);
  transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715), transform 1.3s;
  -webkit-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715),
    transform 1.3s;
  -moz-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715),
    transform 1.3s;
  -ms-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715),
    transform 1.3s;
  -o-transition: opacity 0.7s cubic-bezier(0.47, 0, 0.745, 0.715),
    transform 1.3s;
}
.kuda-cta--section {
  margin-top: -3%;
}
.fade-active > * {
  opacity: 1 !important;
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  -moz-transform: translateZ(0) !important;
  -ms-transform: translateZ(0) !important;
  -o-transform: translateZ(0) !important;
}
.kuda-cta--section {
  background: #eff1ff;
  border: 1px solid hsla(228, 7%, 87%, 0.5);
  border-radius: 5px;
  box-shadow: 15px 30px 40px rgba(64, 25, 109, 0.07);
  overflow: hidden;
  padding: 60px 88px 76px;
  position: relative;
}
.kuda-cta--section .kuda-main--wrap {
  max-width: 423px;
}
.left {
  max-width: 396px;
}
.left h1 {
  margin-bottom: 20px;
  font-weight: 900;
  color: var(--primaryColor);
  font-size: 3rem !important;
  line-height: 1.15;
}
.left p {
  margin-bottom: 20px;
  font-size: 1.25rem;
  margin-bottom: 31px;
  font-weight: 400;
  color: var(--blackColor) !important;
  line-height: 1.5;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.kuda-preview {
  min-height: calc(100vh - 120px);
  transform: translateY(0) !important;
  transition: transform 0.8s;
  margin-top: 70px;
  padding: 70px 40px 63px;
  margin-left: 93px;
  margin-right: 93px;
  width: 100vw;
}

/* @media only screen and (max-width: 720px) {
  .top {
    flex-direction: column;
  }
}
@media only screen and (min-width: 720px) {
  .kuda-preview {
    min-height: calc(100vh - 120px);
    transform: translateY(0) !important;
    transition: transform 0.8s;
    margin-top: 70px;
    padding: 70px 40px 63px;
    margin-left: 93px;
    margin-right: 93px;
  }
  .top {
    flex-direction: column;
  }
} */
/* @media only screen and (max-width: 767px) {
  .kuda-entry--inner > div > .kuda-main--wrap {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .kuda-cta--section .kuda-main--wrap {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 767px) {
  .kuda-main--wrap {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .kuda-main--wrap {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 360px;
  }
} */
