/* Global Styles */

:root {
  --primaryColor: #40196d;
  --lightBlueColor: #1dcbef;
  --blackColor: #000;
  --successColor: #48d38a;
  --negativeColor: #f7685b;
  --textColor: #979797;
  --whiteColor: #fff;
  --whiteAlt: #fff;
  --darkAlt: #000;
  --offWhite: #f9f9f9;
  --offWhiteTrans: hsla(228, 7%, 87%, 0.3);
  --borderOff: hsla(228, 7%, 87%, 0.5);
  --offText: rgba(0, 0, 0, 0.5);
  --bgOffset: #f4f4f4;
  --placeHolder: #979797;
  --offBlue: #eff1ff;
  --boxShadow: rgba(64, 25, 109, 0.07);
  --offBlueTran: rgba(223, 227, 255, 0.3);
  --primaryAlt: #40196d;
  --offGreen: rgba(72, 211, 138, 0.5);
  --ctaOffBlue: rgba(64, 25, 109, 0.3);
  --overlay: rgba(64, 25, 109, 0.2);
  --successColorTrans: #dcffec;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden;
  width: 100vw;
}

.kuda-preview {
  min-height: calc(100vh - 120px);
  transform: translateY(0) !important;
  transition: transform 0.8s;
  margin-top: 70px;
  padding: 70px 40px 63px;
  margin-left: 93px;
  margin-right: 93px;
}

h1 {
  display: block;
  /* font-size: 2em; */
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* font-weight: bold; */
  unicode-bidi: isolate;
}

.left {
  max-width: 396px;
}

.left h1 {
  margin-bottom: 20px;
  font-weight: 900;
  color: var(--primaryColor);
  font-size: 3rem !important;
  line-height: 1.15;
}

.left p {
  margin-bottom: 20px;
  font-size: 1.25rem;
  /* margin-bottom: 31px; */
  font-weight: 400;
  color: var(--blackColor) !important;
  line-height: 1.5;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.hasAnimation {
  margin-top: -12px;
  position: relative;
}

.kuda-business-illustration--center,
.kuda-illustration--center {
  display: flex;
  justify-content: center;
}

.card-item p {
  font-size: 0.975rem;
}

.text-xlbold {
  font-weight: 900;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.summary-top.card {
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}
.summary-top {
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-item {
  background-color: var(--whiteColor);
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
  padding: 22px 25px;
  color: var(--primaryColor);
  width: calc(33.33% - 13px);
}

.summary-bottom {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  justify-content: center;
}

.summary-bottom.card {
  width: calc(33.33% - 13px);
  border: none;
  border-radius: 5px;
}

.summary-bottom .card-item:not(:last-child) {
  margin-right: 20px;
}

.plan-full {
  background: #fff;
  border: 1px solid hsla(228, 7%, 87%, 0.5);
  border-radius: 5px;
  box-shadow: 15px 30px 40px rgba(64, 25, 109, 0.07);
  width: 100%;
}

.plan-full .plan-features {
  padding-right: 0;
}

.plan-features {
  margin-bottom: 50px;
}

.plan-heading.flex {
  padding-left: 72px;
  padding-right: 72px;
}

.plan-full .plan-single {
  width: 33.33%;
}

.plan-single--wrap,
.pricing-single--wrap {
  border-top: 1px solid hsla(228, 7%, 87%, 0.5);
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 13px;
}

.plan-single--wrap {
  display: flex;
}

.kuda-get--wrap .mt-4 {
  margin-top: 2rem !important;
}

.kuda-get--wrap .kuda-cta-long,
.kuda-view-jobs {
  max-width: 152px;
}

.kuda-cta-long {
  max-width: 242px;
  width: 100%;
}

.kuda-cta,
.kuda-cta-outline {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  padding: 15px;
  transition: transform 0.6s;
}

.kuda-cta {
  background: var(--primaryColor);
  border-radius: 4px;
  border-radius: 10px;
  color: var(--whiteColor);
  height: 48px;
}

.kuda-cta:hover {
  transform: translate3d(0, -3px, 0);
}

.kuda-section--bg {
  background: #fbfbfb;
  margin-top: 7%;
  padding-bottom: 7%;
  padding-top: 8%;
}

.kuda-cta--section {
  background: #eff1ff;
  border: 1px solid hsla(228, 7%, 87%, 0.5);
  border-radius: 5px;
  box-shadow: 15px 30px 40px rgba(64, 25, 109, 0.07);
  height: 400px;
  overflow: hidden;
  padding: 60px 88px 76px;
  position: relative;
}
.kuda-section--42 {
  width: 42%;
}
.kuda-section--58 {
  width: 58%;
}
.hasAnimation {
  margin-top: -12px;
  /* position: relative; */
}
.kuda-section--45 {
  width: 45%;
}
.kuda-main--wrap {
  max-width: 423px;
}
.kuda-summary--cards {
  display: flex;
}
.kuda-publication--wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 6%;
  width: 100%;
}
.kuda-pub {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 6%;
  width: 100%;
}
.kuda-section--50 {
  width: 50%;
}
.kuda-section {
  margin-top: 12.5%;
}
.kuda-mobile--get {
  align-items: center;
  background-color: #eff1ff;
  bottom: 0;
  display: none;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 9;
}
.kuda-app--badge {
  display: flex;
}
.kuda-app--badge svg {
  border-radius: 11px;
  box-shadow: 0 4px 5px rgba(64, 25, 109, 0.3);
}
.kuda-app--stars {
  margin-left: 16px;
}
.kuda-app--name {
  font-size: 1.15rem;
  line-height: 1;
}
.kuda-star--wrap {
  display: flex;
  margin-top: 6px;
}
.kuda-mobile--get .kuda-cta {
  font-size: 13px;
  height: 40px;
}
.Kuda-ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.mobile-container .kuda-footer--nav {
  width: 100%;
}
.kuda-mobile--menu {
  position: relative;
}
.mobile-menu-wrapper {
  display: none;
}

.mobile-menu-wrapper.active {
  display: block;
}
.kuda-mobile--navWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: 0.3s;
}
.kuda-mobile--navWrap.open {
  transform: translateX(0);
}
.closeMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.closeMenu:hover {
  color: #666;
}

/* .kuda-mobile--brand {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 64px;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}
.kuda-mobile--navWrap {
  animation: slide-in-out 0.6s cubic-bezier(0.455, 0.03, 0, 1) forwards;
  background-color: #fff;
  opacity: 0;
  overflow-y: scroll;
  padding: 0 0 20px 20px;
  position: absolute;
  top: 108px;
  width: 100%;
}
.kuda-brand {
  min-width: 100px;
}
a {
  color: inherit;
  text-decoration: none;
}
.closeMenu {
  animation-delay: 0.35s;
  animation-duration: 0.8s !important;
  position: absolute;
  right: 25px;
  top: 24px;
  z-index: 1;
}
.animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
  position: relative;
}

.fadeIn {
  animation-duration: 0.3s !important;
  animation-name: fadeIn;
}
.kuda-menu--actions {
  animation: slide-in-out 0.6s cubic-bezier(0.455, 0.03, 0, 1) forwards;
  background-color: #fff;
  opacity: 0;
  padding: 20px;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 9;
}
.kuda-mobile--menu-item:not(:last-child) {
  border-bottom: 1px solid hsla(228, 7%, 87%, 0.5);
}
.kuda-mobile--menu-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}
.kuda-mobile--menu-item:not(:last-child) {
  border-bottom: 1px solid hsla(228, 7%, 87%, 0.5);
}
.kuda-mobile--menu-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}
.kuda-menu--wrap,
.kuda-menu--wrap-careers {
  display: none !important;
}
.mobile-container .kuda-footer--nav {
  width: 100%;
} */
/* Media Queries */

/* Large screens */
@media only screen and (min-width: 1200px) {
  .kuda-preview {
    margin-left: 120px;
    margin-right: 120px;
  }
  .left {
    max-width: 450px;
  }
  .card-item {
    padding: 30px 35px;
  }
  .summary-top .card {
    width: calc(25% - 13px);
  }
  .summary-bottom .card {
    width: calc(25% - 13px);
  }
  .plan-full .plan-single {
    width: 25%;
  }
  .check-icon {
    margin-right: 10px;
  }
  /* .feature-summary {
    align-items: center;
  } */
}

/* Medium screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .kuda-preview {
    margin-left: 90px;
    margin-right: 90px;
  }
  .left {
    max-width: 380px;
  }
  .card-item {
    padding: 25px 30px;
  }
  .summary-top .card {
    width: calc(33.33% - 13px);
  }
  .summary-bottom .card {
    width: calc(33.33% - 13px);
  }
  .plan-full .plan-single {
    width: 33.33%;
  }
}

/* Small screens */
@media only screen and (max-width: 991px) {
  .kuda-preview {
    margin-left: 60px;
    margin-right: 60px;
  }
  .left {
    max-width: 320px;
  }
  .card-item {
    padding: 20px 25px;
  }
  .summary-top .card {
    width: calc(50% - 13px);
  }
  .summary-bottom .card {
    width: calc(50% - 13px);
  }
  .plan-full .plan-single {
    width: 50%;
  }
  /* .kuda-mobile--menu {
    background: rgba(64, 25, 109, 0.2);
    background-color: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
  }
  .kuda-mobile--menu .kuda-menu--wrap {
    align-items: flex-start !important;
    background: #fff;
    display: flex !important;
    flex-direction: column;
    height: 100vh;
    margin-left: auto;
    width: 100%;
  }
  .kuda-menu--wrap,
  .kuda-menu--wrap-careers {
    display: none !important;
  }
  .kuda-menu--actions {
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    transform: translateX(-50%);
  }
  .kuda-cta-md {
    max-width: 115px;
  }
  .nav-menu-wrap {
    margin-top: 25px;
  } */
  .kuda-mobile--navWrap {
    width: 300px;
    height: auto;
    padding: 40px;
    transform: translateX(-300px);
  }
  .kuda-mobile--navWrap.open {
    transform: translateX(0);
  }
}

/* Extra small screens */
@media only screen and (max-width: 767px) {
  .kuda-preview {
    margin-left: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 25px;
  }
  .left {
    max-width: 280px;
  }
  .card-item {
    padding: 15px 20px;
    /* margin-top: 5px; */
    margin-bottom: 20px;
    display: flex;
  }
  .card-icon--spacing {
    margin-right: 10px;
  }
  .summary-top .card-item {
    width: 100%;
  }
  .summary-bottom .card-item {
    width: 100%;
  }
  /* .plan-full .plan-single {
    width: 100%;
  } */
  .kuda-plan--wrap {
    margin-top: 30px;
  }
  .plan-details {
    margin-top: 25px;
  }
  .plan-full .plan-features {
    padding-right: 0;
  }
  .plan-features {
    margin-bottom: 20px;
  }
  .plan-heading.flex {
    padding-left: 20px;
    padding-right: 20px;
  }
  .plan-heading.flex > .plan-single:first-child {
    display: none;
  }
  .plan-heading.flex .document-single,
  .plan-heading.flex .plan-single {
    width: 50%;
  }
  .plan-full .plan-single:first-child,
  .plan-full .plan-single:not(:first-child) {
    width: 33.33% !important;
  }
  .plan-single:nth-child(2) {
    padding-right: 15px;
  }
  .plan-full .document-single:last-child,
  .plan-full .plan-single:last-child,
  .plan-heading.flex .document-single:last-child,
  .plan-heading.flex .plan-single:last-child {
    padding-left: 10px;
  }
  .plan-heading.flex .document-single,
  .plan-heading.flex .plan-single {
    width: 50%;
  }
  .plan-full .plan-single:first-child,
  .plan-full .plan-single:not(:first-child) {
    width: 33.33% !important;
  }
  .plan-single--wrap {
    padding-top: 17px;
  }
  .plan-single--wrap,
  .pricing-single--wrap {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
  }
  .plan-full .plan-single:first-child,
  .plan-full .plan-single:not(:first-child) {
    width: 33.33% !important;
  }
  .feature-text {
    display: flex;
    font-size: 0.875rem;
  }
  .kuda-cta--section {
    height: 300px;
    padding: 40px 60px 60px;
  }
  .kuda-section--42 {
    width: 100%;
  }
  .kuda-main--wrap {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 360px;
    text-align: center !important;
  }
  .kuda-entry--inner {
    flex-wrap: wrap;
  }
  .kuda-section--inner {
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
  .summary-bottom {
    flex-direction: column;
  }

  .kuda-section--45 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 360px;
    margin-bottom: 50px;
    text-align: center !important;
    width: 100%;
  }
  .kuda-testimonial--wrap h1 {
    padding-left: 2px;
    padding-right: 2px;
  }
  .kuda-publication--wrap {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .kuda-pub {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .partners-image {
    display: flex;
    justify-content: center;
  }
  .publication-image {
    margin-top: 40px;
    width: 33.33%;
  }
  .publication-image:last-child {
    width: 40%;
    margin-right: 20px;
  }
  .publication-image:not(:last-child) {
    margin-right: 0;
  }
  .kuda-section--bg {
    padding-bottom: 40px;
    padding-top: 65px;
  }
  .kuda-section {
    margin-top: 120px;
  }
  .kuda-section--inner,
  .kuda-summary--cards {
    flex-wrap: wrap;
  }
  .is-mobile-legal .bottom--spacing,
  .title-bottom--spacing {
    margin-bottom: 10px;
  }
  .kuda-section--heading {
    font-size: 2rem;
  }
  .partners-image {
    margin-top: 40px;
    width: 50%;
  }
  .kuda-entry--inner > div > .kuda-main--wrap {
    margin-top: 10px;
  }
  .kuda-section--50 {
    width: 100%;
  }
  .kuda-main--wrap {
    display: flex;
    flex-direction: column;
    text-align: center !important;
  }
  .mobile-only {
    display: flex;
    margin-top: 10px;
  }
  .kuda-app--badges,
  .kuda-app--licenses {
    justify-content: center;
  }
  .kuda-section {
    margin-top: 120px;
  }
  .kuda-cta--section {
    padding: 35px 20px;
  }
  .kuda-entry--inner {
    flex-wrap: wrap;
  }
  .kuda-section--58 {
    width: 100%;
  }
  .center-container {
    /* margin: 0; */
    /* width: 100%; */
    margin-left: -100px;
  }
  .hasAnimation {
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
  }
  .kuda-illustration--center {
    display: block;
    margin-top: 30px;
  }
  .kuda-mobile--get {
    display: flex !important;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .kuda-a {
    text-decoration: none;
  }
  .kuda-footer--nav {
    flex-wrap: wrap;
  }
  .footer-contact--information,
  .kuda-footer--nav {
    flex-wrap: wrap;
  }
  /* .icon {
    width: 400px;
    height: 400px;
  } */
}

/* Custom styles for orbit animation */
@keyframes rotate1 {
  from {
    transform: rotate(0deg) translateX(275px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(275px) rotate(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: rotate(0deg) translateX(225px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(225px) rotate(360deg);
  }
}
@keyframes rotate3 {
  from {
    transform: rotate(0deg) translateX(175px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(175px) rotate(360deg);
  }
}
.center-container {
  position: relative;
  width: 600px;
  height: 600px;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.debit {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 300px;
  left: 130px;
  z-index: -10;
}
.home {
  width: 350px;
  z-index: 999;
}
.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.orbit1 {
  animation: rotate1 4s linear infinite;
}

.orbit2 {
  animation: rotate2 7s linear infinite;
}

.orbit3 {
  animation: rotate3 10s linear infinite;
}
.orbit-container {
  position: absolute;
  width: 550px;
  height: 550px;
  border: 2px solid rgb(240, 237, 237);
  border-radius: 50%;
  display: flex;
  z-index: -50;
  justify-content: center;
  align-items: center;
}

.orbit-container1 {
  width: 550px;
  height: 550px;
}

.orbit-container2 {
  width: 450px;
  height: 450px;
}

.orbit-container3 {
  width: 350px;
  height: 350px;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.kuda-header {
  background: var(--whiteAlt);
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.05);
  height: 70px;
  left: 0;
  position: fixed;
  display: flex;
  top: 0;
  width: 100vw;
  z-index: 99;
}
.kuda-header--wrap {
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

/* Responsive styles for orbit animation */
/* @media only screen and (max-width: 1200px) {
  .orbit-container {
    width: 450px;
    height: 450px;
  }
  .orbit-container1 {
    width: 450px;
    height: 450px;
  }
  .orbit-container2 {
    width: 350px;
    height: 350px;
  }
  .orbit-container3 {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 992px) {
  .orbit-container {
    width: 350px;
    height: 350px;
  }
  .orbit-container1 {
    width: 350px;
    height: 350px;
  }
  .orbit-container2 {
    width: 250px;
    height: 250px;
  }
  .orbit-container3 {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .orbit-container {
    width: 250px;
    height: 250px;
  }
  .orbit-container1 {
    width: 250px;
    height: 250px;
  }
  .orbit-container2 {
    width: 150px;
    height: 150px;
  }
  .orbit-container3 {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .orbit-container {
    width: 150px;
    height: 150px;
  }
  .orbit-container1 {
    width: 150px;
    height: 150px;
  }
  .orbit-container2 {
    width: 100px;
    height: 100px;
  }
  .orbit-container3 {
    width: 50px;
    height: 50px;
  }
} */
